body {
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
}

.place-holder {
  max-width: 67rem;
  margin: auto;
}

.intro-sec {
  height: 57rem;
  padding-top: 8rem;
}

#title {
  font-size: 9.5rem;
  font-weight: 680;
  line-height: 9.3rem;
  display: inline-block;
  opacity: 1;
  display: inline-block;
}

.occupancy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.9rem;
}

#typing-demo {
  font-size: 3rem;
  width: 14.5ch;
  animation: typing 2s steps(20), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

#section05 {
  padding-top: 140px;
}

#section05 #scroll-span {
  position: absolute;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/* About Me */
#aboutme-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 600px;
  margin-bottom: 0;
}

.about-section {
  display: block;
  flex: none;
  width: 90%;
  align-self: center;
}

#aboutme {
  text-align: center;
  font-weight: 450;
  font-size: 4em;
  margin-bottom: 1.5rem;
}

#aboutme-para {
  text-align: center;
  font-weight: 200;
  line-height: 1.8;
  font-size: 2em;
  margin-bottom: 4rem;
}

/* Skills */
#skills {
  height: fit-content;
  margin-top: 8rem;
  border-radius: 0.5rem;
}

.skill-headers {
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  box-shadow: 0px 6px 29px -2px black;
}

.skill-name {
  font-size: 3em;
  color: white;
  font-weight: 450;
}

.skill-details {
  color: white;
  margin-top: 0.5rem;
}

.skills-lists {
  margin-top: 0.7rem;
}

.list-title {
  font-size: 1.9em;
  color: white;
}
